<h3>zip</h3>
<p>Combines values from both observables, emitting a pair of values only when both observables emit. ⚠️ <b>Watch every 3 secs.</b> </p>

<p>
    <b>Use Case:</b> When you have two observables that emit values at different times but need to combine their
    emissions in a
    one-to-one manner, i.e., first emitted value from each observable goes together, second emitted value goes together,
    and so on. <br/>
    <b>Example:</b> Fetching a user's profile and their comments, and you want to pair each profile with each comment at
    the
    same index.
</p>

<button type="button" (click)="startZip()" class="btn btn-dark" [disabled]="started">{{started ? 'Starting...' :
    'Start'}}
</button>

<h5>Elapsed time {{timer$ | async}} seconds</h5>

<hr />

<ul class="list-group">
    @for (log of logs; track log;) {
    <li class="list-group-item" [innerHTML]="log">

    </li>
    }
</ul>