<div class="alert alert-primary" role="alert">
    <h6 class="mb-0">
        for ignoring new Observables while the current one is still ongoing, exhaustMap does just that
    </h6>
</div>

<form [formGroup]="form">
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input formControlName="name" type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Phone</label>
        <input formControlName="phone" type="text" class="form-control">
    </div>
</form>