<h3>combine latest</h3>
<p>Combines values from both observables, emitting a pair of values only when both observables emit. ⚠️ <b>Watch every 5
        secs.</b></p>

<p>
    <b>Use Case:</b> When you want to combine the latest value from multiple observables, regardless of when they emit. Each
    time any observable emits, you get the latest value from all the others.
    <b>Example:</b> Imagine getting user data from one API and post data from another, and you always want the latest user and
    the latest post combined together.
</p>

<button type="button" (click)="startCombineLatest()" class="btn btn-dark" [disabled]="started">{{started ? 'Starting...'
    :
    'Start'}}
</button>

<h5>Elapsed time {{timer$ | async}} seconds</h5>

<hr />

<ul class="list-group">
    @for (log of logs; track log;) {
    <li class="list-group-item" [innerHTML]="log">
    </li>
    }
</ul>