<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Angular Providers</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
      </ul>
    </div>
  </div>
</nav>
<main>
  <form [formGroup]="operatorForm">
    <div class="mb-3">
      <label class="form-label">Types Provider</label>
      <select class="form-select" formControlName="operatorType">
        <option [value]="1">Class</option>
        <option [value]="2">Value</option>
        <option [value]="3">Factory</option>
        <option [value]="4">Aliased</option>
      </select>
    </div>
  </form>


  @switch (+operatorForm.controls['operatorType'].value) {
  @case (1) {
  }
 
  }


</main>