<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Angular Deferrable Views</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
      </ul>
    </div>
  </div>
</nav>
<main>
  <button class="btn btn-primary" type="button" (click)="testWritableSignal()">Writable Signal</button>
  <button class="btn btn-primary" type="button" (click)="testSignalWDependencies()">Computed Signal Dependencies</button>
  <button class="btn btn-primary" type="button" (click)="testUntrackedSignal()">Untracked Signal</button>

  <h1>Writable Signal - {{writeTableSignal()}}</h1>
  <h1>Computed Signal - {{computedSignalValue()}}</h1>
  <h1>Untracked Signal - {{untrackedSignal()}}</h1>

</main>